// Variables / Mixins
@import 'vars';

//fonts
@import './fontawesome/fontawesome.scss';
@import './fontawesome/solid.scss';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3.2rem;
    font-weight: 800;
  }
}

/* header {
} */
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lavender;
  img {
    width: 100%;
    height: auto;
    @media (max-width: $tablet) {
      height: 300px;
      width: auto;
      object-fit: cover;
    }
    @media (max-width: $mobile) {
      height: 250px;
      object-position: -120px 0;
    }
  }
  .header-text {
    margin: 40px auto;
    color: white;
    text-align: center;
    h1 {
      font-size: 6rem;
      @media (max-width: $mobile) {
        font-size: 4rem;
      }
      span {
          display: inline-block;
      }
    }
    h3 {
      font-size: 2rem;
      @media (max-width: $mobile) {
        font-size: 1.6rem;
      }
    }
    @media (max-width: $tablet) {
      margin: 30px auto;
    }
    @media (max-width: $mobile) {
      margin: 25px auto;
    }
  }
  nav {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
    color: #d2d2d2;
    font-size: 2.2rem;
    @media (max-width: $tablet) {
      width: 90%;
    }
    @media (max-width: $mobile) {
      width: 95%;
      font-size: 1.6rem;
    }
    a {
      text-decoration: none;
      color: #d2d2d2;
    }
  }
}

.about-me {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  p {
    width: 80%;
    margin: 0 auto;
    @media (max-width: $tablet) {
      width: 95%;
    }
  }

  img {
    max-width: 400px;
    height: auto;
    border-radius: 50%;

    @media (max-width: $tablet) {
      max-width: 300px;
      margin: 20px 0;
    }
    @media (max-width: $mobile) {
      max-width: 250px;
    }
  }
}

.skillset {
  padding: 20px 0;
  background-color: $sage;
  font-size: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .tech-icons {
    width: 70%;
    font-size: 7rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    i {
      margin: 0 1rem;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }

  .skill-list {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
      margin: 0 auto;
      list-style-type: circle;
      list-style-position: inside;
    }
    @media (max-width: $mobile) {
      width: 90%;
      margin: 0 auto;
    }
  }
}

.projects {
  max-width: 80%;
  padding: 20px 0;
  font-size: 1.8rem;
  margin: 0 auto;

  .project-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .project {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 2rem 0;

      &:nth-child(2) {
        padding: 4rem 0;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
      }

      h3 {
        text-align: center;
        margin: 10px 0;
        font-size: 2.4rem;
      }
      img {
        max-width: 49%;
        height: auto;
        @media (max-width: $tablet) {
          max-width: 90%;
          margin-top: 2rem;
        }
      }
      .project-description {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .project-links {
          a {
            text-decoration: none;
            &:link {
              color: $lavender;
            }
            &:visited {
              color: $sage;
            }
            &:hover {
              color: #787878;
            }
          }
        }

        p {
          width: 90%;
          margin: 2rem;
        }
      }

      @media (max-width: $tablet) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $lavender;
  ul {
    max-width: 400px;
    display: flex;

    margin: 0 auto 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: black;
    margin: 10px;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .footer-icons {
    font-size: 5rem;
    li {
      margin: 1.7rem;
    }
  }
}
